<div class="row col-md-12">
    <h5>Professional skills</h5>
</div>
<div class="row col-md-12">
  <p>In this section you can see a summary of my professional skills</p>
  <p> With more than 15 years of experience in the development of business applications, based
  on
  Java JEE, Web and Web services technologies.
  I acquired technical skills on many tools, implemented in strategic projects in the fields of insurance / finance,
  e-commerce, telecoms, digitalization and security project and industry.</p>
</div>
