<!-- <mat-sidenav-container class="sidenav-container"> -->
<mat-sidenav-container class="w3-top">
  <!-- <mat-sidenav #drawer fixedInViewport="false" -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               [ngClass]="{hidden: !(isHandset$ | async)}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-nav-list  >
      <a mat-list-item routerLink="home" routerLinkActive="active-list-item" class="w3-bar-item w3-button w3-green"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
      <a mat-list-item routerLink="about-me" routerLinkActive="active-list-item" class="w3-bar-item w3-button"><i class="fa fa-user"></i>About</a>
      <a mat-list-item routerLink="training" routerLinkActive="active-list-item" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Training</a>
      <a mat-list-item routerLink="experience" routerLinkActive="active-list-item" class="w3-bar-item w3-button"><i class="fa fa-briefcase" aria-hidden="true"></i>Experiences</a>
      <a mat-list-item routerLink="skills" routerLinkActive="active-list-item" class="w3-bar-item w3-button"><i class="fa fa-code" aria-hidden="true"></i>Skills</a>
      <a mat-list-item routerLink="projects" routerLinkActive="active-list-item" class="w3-bar-item w3-button"><i class="fa fa-folder" aria-hidden="true"></i>Projects</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary"> -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-nav-list *ngIf="!(isHandset$ | async)" class="w3-deep-purple">
        <a routerLinkActive="active-list-item"routerLink="home" class="w3-bar-item w3-button"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a routerLinkActive="active-list-item" routerLink="about-me" class="w3-bar-item w3-button"><i class="fa fa-user"></i>About</a>
        <a routerLinkActive="active-list-item" routerLink="training" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Training</a>
        <a routerLinkActive="active-list-item" routerLink="experience" class="w3-bar-item w3-button"><i class="fa fa-briefcase" aria-hidden="true"></i>Experiences</a>
        <a routerLinkActive="active-list-item" routerLink="skills" class="w3-bar-item w3-button"><i class="fa fa-code" aria-hidden="true"></i>Skills</a>
        <a routerLinkActive="active-list-item" routerLink="projects" class="w3-bar-item w3-button"><i class="fa fa-folder" aria-hidden="true"></i>Projects</a>

      </mat-nav-list>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
