<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">Who am I</h3>
  <p class="w3-center"><em>Heenry Haba</em></p>

  <p> I am Software engineer, with more than 15 years of experience in the development of business applications, based
    on
    Java JEE, Web and Web services technologies.
    I acquired technical skills on many tools, implemented in strategic projects in the fields of insurance / finance,
    e-commerce, telecoms, digitalization and security project and industry.</p>

  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="../../assets/images/remote_work.png"
           class="w3-round w3-image w3-hover-opacity" alt="Photo of Me" width="500" height="333">
    </div>

    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p> I have technical expertise and a transversal vision of a company's information flows thanks to </p>
      <ul>
        <li>some skills due to solid training</li>
        <li>some experiences acquired through various projects</li>
        <li>a capacity adaptation to business demands</li>
      </ul>

      <p> Since 2005, I have been a consultant in France on business application projects, integrated into Information
        System
        and plateform based on service-oriented architectures.</p>
    </div>


  </div>
  <div class="w3-row">
    <p>A strong passion for the development and management of business application projects with great ability to work
      autonomously.</p>
    <p> like also working in a team.
      I can manage the development of a project, provide technical expertise, research and evaluate
      technical solutions and give some help on Java and Node js technologies.</p>
  </div>
</div>

<h3 class="w3-center" style="margin-top: 1%;">My family</h3>
<p class="w3-center"><em>The thing that I'm proud the most</em></p>
<p>I'm am happily married .</p>


<h3 class="w3-center">My Hobbies</h3>
<p class="w3-center"><em>Travel, Sports, Food... I don't know what to choose</em></p>
<p>As I mentioned before, I love to travel. I have already been in 10 countries.</p>
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-col m6 w3-center w3-padding-large">
    <img src="../../assets/images/debout.JPG"
         class="w3-round w3-image w3-hover-opacity" alt="Photo of Me" width="500" height="333">
  </div>

  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">9</span><br>
    Trips
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">10</span><br>
    Countries
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">3</span><br>
    Continents
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">8</span><br>
    Capitals
  </div>
</div>


<!--<div class="w3-col m6">-->
<!--<img src="https://storage.googleapis.com/vcv-images/images/hiking.jpg"-->
<!--style="width:100%" class="w3-hover-opacity" alt="Hiking">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<p>I love to play any kind of sport. I think that I have not found any sport that I don't like to play.</p>-->
<!--<div class="w3-content w3-container w3-padding-64">-->
<!--<div class="w3-row-padding w3-center">-->
<!--<div class="w3-col m6">-->
<!--<img src="https://storage.googleapis.com/vcv-images/images/football.jpg"-->
<!--style="width:100%" class="w3-hover-opacity" alt="football">-->
<!--</div>-->
<!---->
<!--<div class="w3-col m6">-->
<!--<img src="https://storage.googleapis.com/vcv-images/images/sport.jpg"-->
<!--style="width:100%" class="w3-hover-opacity" alt="Sport">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<p>If you want to find out more about me, keep reading the other sections.</p>-->



